body {
    background-color: grey;
}

img{
    height: 120px;
    width: 120px;
}

.room-title {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

.container{
    /* background-color: red; */
    margin: auto;
    height: 50vh;
    border: 2px solid black;
    max-width: 700px;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 6px;
}

.message {
    background-color: silver;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;

}

.right {
    float: right;
    clear: both;
}

.center {
    text-align: center;
    font-style: italic;
    font-size: 120%;
    clear: both;
}

#send-container {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 700px;
    width: 100%;   
}

#messageInp {
    width: 90%;
    border: 2px solid black;
    height: 34px;
    border-radius: 6px;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    height: 34px;
    border-radius: 6px; 
}
